:root {
  --dark: #1d1913;
  --dark-pop: #865a20;
  --light: #e0ddd6;
  --alt-light: #ece8e0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Serif Pro", serif;
  /* color: var(--dark); */
  background-color: var(--light);
}

p,
pre,
code {
  line-height: 1.5;
}

h2 { font-size: 80px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }
body { font-size: 16px; }

h2,
h3,
h4,
h5,
p,
iframe {
    margin: 0 0 2rem;
}

a {
    color: var(--dark);
}

a:hover,
a[visited]:hover {
    text-decoration: none;
    color: var(--dark-pop);
}

/* LAYOUT */

section {
  min-height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  /* background-image: url(/static/img/header-background.jpg), linear-gradient(0deg, rgb(49, 33, 60) 0%, rgb(210, 38, 38) 50%, rgb(0, 0, 0) 100%); */
  /* background-blend-mode: screen; */
}

section .inner {
  margin: 40px;
  padding: 40px;
  max-width: max(60vw, 700px);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  mix-blend-mode: hard-light;
}

section:nth-child(odd) {
  background: var(--alt-light);
}

section h2 {
    margin-top: 0;
}

section .inner > p:last-child {
    margin-bottom: 0;
}

/* HEADER */

section#header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

section#header .inner {
  padding: 40px;
  font-size: max(120px, 12vw);
  max-width: max(60vw, 700px);
  background: rgba(255, 255, 255, 0.33);
  border-radius: 5px;
  mix-blend-mode: hard-light;
  text-align: right;
  color: #000;
}

section#header h1 {
  font-size: inherit;
  font-weight: 600;
  letter-spacing: -0.9rem;
  line-height: 0.55;
  margin: 0 0 5rem;
}

section#header h2 {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

section#header h1 span {
  font-size: 75%;
}

section#header p {
    font-size: max(18px, 2vw);
}

/* EVENTS */

section#events li {
  margin-bottom: 1rem;
}
