:root {
  --text: #1d1913;
  --link: #c0321f;
  --background: #cc993d;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Serif Pro", serif;
  color: var(--text);
  background-color: var(--background);
}

p,
pre,
code {
  line-height: 1.5;
}

h2 { font-size: 80px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }
body { font-size: 16px; }

h2,
h3,
h4,
h5,
p,
iframe {
    margin: 0 0 2rem;
}

a {
    color: var(--link);
}

h2 a,
h2 a:hover,
h2 a[visited]:hover{
    color: inherit;
}

a:hover,
a[visited]:hover {
    text-decoration: none;
    color: inherit;
    color: var(--link);
}

img {
    max-width: 100%;
}

.emoji {
    display: inline-block;
    transform: scale(1.5);
    margin: 0 .5rem;
}

/* LAYOUT */

section {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

section .inner {
  margin: 40px;
  padding: 40px;
  width: 60vw;
  max-width: 700px;
  border-radius: 5px;
}

section .inner:empty {
    display: none;
}

section:nth-child(even) {
    align-items: flex-start;
    justify-content: left;
}

section:nth-child(odd) {
    align-items: flex-end;
    justify-content: flex-end;
}

section h2 {
    margin-top: 0;
}

section .inner > p:last-child {
    margin-bottom: 0;
}

/* PASSWORD MODAL */

#main {
    display: none;
}

.password-modal {
    display: block;
    background-color: var(--background);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.password-modal:not(.invalid) .alert {
    display: none;
}

.password-modal .modal-content {
    padding: 40px;
}

.password-modal input {
    font-size: 40px;
    height: unset;
}

/* HEADER */

section#header .inner {
  padding: 40px;
  border-radius: 5px;
  text-align: right;
  color: #000;
  mix-blend-mode: hard-light;
}

section#header h1 {
  font-size: 90px;
  font-size: max(90px, 12vw);
  font-weight: 600;
  letter-spacing: -0.9rem;
  line-height: 0.55;
  margin: 0 0 5rem;
}

section#header h1 span {
  font-size: 75%;
}

section#header h2 {
  font-style: italic;
}

section#header p {
    font-size: 18px;
    font-size: max(18px, 2vw);
}

/* RSVP */

label + .checkbox,
label + .radio {
    margin-top: 0;
}

/* EVENTS */

section#events li {
  margin-bottom: 1rem;
}

/* MOBILE HACKS */

@media (max-width: 600px) {
    section:not(#bottom) {
        min-height: unset;
        overflow: hidden;
        display: block;
    }

    section .inner {
        margin: 0;
        width: 100%;
    }
}
