<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700&display=swap&subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ metadata.title }}">
  <meta property="og:title" content="{{ metadata.title }}">
  <meta property="og:url" content="{{ metadata.url }}">
  <meta property="og:image" content="{{ metadata.picture }}">
  <meta property="og:description" content="{{ metadata.description }}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ metadata.title }}" />
  <meta name="twitter:image" content="{{ metadata.picture }}" />
  <meta name="twitter:description" content="{{ metadata.description }}" />
</head>
