<div class="modal password-modal" id="password_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="modal-body" id="password_form">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Incorrect password
                </div>
                <div class="form-group">
                    <input
                        id="password"
                        placeholder="Password"
                        class="form-control"
                        autofocus
                        autocomplete="off"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Enter</button>
            </form>
        </div>
    </div>
</div>
