<!doctype html>
<html lang="en">

	{% include "components/head.njk" %}

	<body>
		{% include "components/password-modal.njk" %}
		<main id="main">
			{{ layoutContent | wrapemoji | safe }}
		</main>
	</body>
    {% set js %}
      {% include "assets/js/inline.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
</html>
