---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{% for section in collections.sections %}
    <section id="{{ section.data.id }}"
            style="background-image: url({{ section.data['background-image'] }})">
        <div class="inner">
            {%- if (section.data.showTitle) -%}
                <h2>
                    <a href="#{{ section.data.id }}">{{ section.data.title }}</a>
                </h2>
            {%- endif -%}
            {{ section.data.layoutContent | safe }}
            {%- if (section.data.showForm) -%}
                {% include "components/form.njk" %}
            {%- endif -%}
        </div>
    </section>
{% endfor %}
