---
layout: layouts/base.njk
section: page
---
<h1>{{ title }}</h1>

{% for section in collections.sections %}
    <section id="{ section.id }">
        <h3>
            {{ section.data.title }}
        </h3>
        {{ section.data.layoutContent | safe }}
    </section>
{% endfor %}

<!-- {{ layoutContent | safe }} -->
