---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{% for section in collections.sections %}
    <section id="{{ section.data.id }}"
            style="background-image: url({{ section.data['background-image'] }})">
        {%- if (section.data.showTitle) -%}
            <h2>
                {{ section.data.title }}
            </h2>
        {%- endif -%}
        {{ section.data.layoutContent | safe }}
    </section>
{% endfor %}
